---
import { AiOutlineMenu } from "react-icons/ai";
import { FaCartShopping, FaRegHeart, FaRegUser } from "react-icons/fa6";
---

<div
  class="w-full flex justify-end md:pt-2 pr-5 md:pr-20 text-lg gap-4 md:gap-8 text-gray-600"
>
  <a href="/favorites">
    <FaRegHeart className="cursor-pointer" />
  </a>
  <a href="/profile">
    <FaRegUser className="cursor-pointer" />
  </a>
  <a href="/cart">
    <FaCartShopping className="cursor-pointer" />
  </a>
  <AiOutlineMenu
    id="mobile-menu-hamburger"
    className="md:hidden cursor-pointer"
  />
</div>

<script>
  import { isMobileMenuOpen } from "../../stores/NavigationStore";

  const mobileMenuHamburger = document.querySelector("#mobile-menu-hamburger");

  mobileMenuHamburger?.addEventListener("click", () =>
    isMobileMenuOpen.set(true)
  );
</script>
