---
import SearchInput from "../SearchInput.astro";
import DesktopCategories from "./DesktopCategories.astro";
import MegaMenu from "./MegaMenu.astro";
import NavigationIcons from "./NavigationIcons.astro";


const categoryResponse = await fetch(
  "https://dummyjson.com/products/categories"
);

const rawCategories = await categoryResponse.json();
const categories = rawCategories.slice(0, 4);

const subcategoryResponse = await fetch(
  "https://dummyjson.com/products/categories"
);
const subcategories = await subcategoryResponse.json();
---
<!-- MOBILE NAVIGATION -->
<div id="mobile-navigation" class="block md:hidden">
  <div
    class="w-full flex flex-col justify-center items-center pt-3 bg-white border-b-1"
  >
    <div class="w-full flex justify-evenly items-center">
      <div class="w-full flex justify-start pl-3">
        <a href="/">
          <img
            src="https://velomarket.pl/media/logo/stores/1/velo_logo.png"
            class="max-h-8 cursor-pointer"
            alt="logo"
          />
        </a>
      </div>
      <NavigationIcons />
    </div>
    <div class="flex justify-center py-3 w-3/4">
      <SearchInput />
    </div>
  </div>
</div>

<!-- DESKTOP NAVIGATION -->
<div id="desktop-navigation" class="hidden md:block">
  <div
    class="absulte w-full h-17 flex justify-center items-center bg-white border-b-1 border-b-gray-200"
  >
    <div class="w-full flex justify-evenly items-center">
      <div class="w-full flex justify-start pl-10">
        <a href="/">
          <img
            src="https://velomarket.pl/media/logo/stores/1/velo_logo.png"
            class="max-h-8 cursor-pointer"
            alt="logo"
          />
        </a>
      </div>
      <div class="w-full flex justify-center">
        <SearchInput />
      </div>
      <NavigationIcons />
    </div>
  </div>
  <div>
    <DesktopCategories categories={categories} subcategories={subcategories} />
  </div>
</div>

<!-- MEGAMENU -->
<MegaMenu subcategories={subcategories} />

<script>
  const subcategoriesEl = document.querySelector("#subcategories");
  const megamenuEl = document.querySelector("#desktop-megamenu");
  console.log(megamenuEl)

  const toggleMegaMenu = (show = false) => {
    console.log('toggle')
    show
      ? megamenuEl?.classList.replace("hidden", "grid")
      : megamenuEl?.classList.replace("grid", "hidden");
      console.log('classes', megamenuEl?.classList)
  };

  subcategoriesEl?.addEventListener("mouseenter", () => toggleMegaMenu(true));
  subcategoriesEl?.addEventListener("mouseleave", () => toggleMegaMenu());

  megamenuEl?.addEventListener("mouseenter", () => toggleMegaMenu(true));
  megamenuEl?.addEventListener("mouseleave", () => toggleMegaMenu());
</script>