---
import MainLayout from "../layouts/MainLayout.astro";
import BannerCarousel from "../components/BannerCarousel";
---

<MainLayout title="Strona główna">
  <div class="w-full m-auto max-w-[1440px]">
    <BannerCarousel client:only/>
  </div>
  
</MainLayout>
