---
import MainLayout from "../layouts/MainLayout.astro";
import BannerCarousel from "../components/BannerCarousel";
import CategoryButtons from "../components/CategoryButtons.astro";
---

<MainLayout title="Strona główna">
  <BannerCarousel client:only />
  <div class="w-full m-auto max-w-[1440px]">
    <CategoryButtons />
  </div>
</MainLayout>
