---
import MainLayout from "../layouts/MainLayout.astro";
// import BannerCarousel from "../components/BannerCarousel";
import BannerCarousel from "../components/BannerCarousel.astro";
import CategoryButtons from "../components/CategoryButtons.astro";
import ProductsCarousel from "../components/Product/ProductsCarousel.astro";
import ProductCarouselReact from "../components/Product/ProductsCarousel";
---

<MainLayout title="Strona główna">
  <!-- <BannerCarousel client:only /> -->
  <BannerCarousel />
  <main class="w-full m-auto max-w-[1440px] flex flex-col mt-24 gap-12">
    <!-- <CategoryButtons client:only> -->
    <section id="category-btns" class="hidden md:flex">
      <CategoryButtons >
        <div
          role="status"
          class="flex justify-center items-center animate-pulse"
          slot="fallback"
        >
          <div class="h-3 bg-gray-200 rounded-full w-96"></div>
        </div>
      </CategoryButtons>
    </section>
    <!-- <section id="carousels" class="flex flex-col gap-4 md:gap-12">
      <ProductCarouselReact category="furniture" client:only />
      <ProductCarouselReact category="groceries" client:only />
      <ProductCarouselReact
        category="beauty"
        color="velo-green"
        sideText={true}
        client:only
      />
    </section> -->
    <section id="carousels" class="flex flex-col gap-4 md:gap-12">
      <ProductsCarousel category="furniture" server:defer/>
      <ProductsCarousel category="mens-watches" server:defer/>
      <ProductsCarousel category="beauty" color="velo-green" sideText={true} server:defer/>
    </section>
  </main>
</MainLayout>
