---
import MainLayout from "../layouts/MainLayout.astro";
import ProductCard from "../components/Product/ProductCard.astro";

const query: string | null = Astro.url.searchParams.get("query");

const response = await fetch(
  `https://dummyjson.com/products/search?q=${query}`
);
const results = await response.json();
---

<MainLayout title="Wyszukiwarka">
  <h1>Rezultaty szukania</h1>
  <div class="flex justify-center items-center m-auto">
    <div class="max-w-[1440px] p-2 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      {
        results.products.map((result: any) => (
          <ProductCard product={result} />
        ))
      }
    </div>
  </div>
</MainLayout>
