---
import { FaAngleDown } from "react-icons/fa6";
import { categoryStore } from "../../stores/NavigationStore";

const rawCategories = await categoryStore.then();
const categories = rawCategories.slice(0, 4);
---

<div id="categories" class="h-full flex max-w-fit gap-4">
  <p
    id="subcategories-menu"
    class="h-full flex justify-center items-center text-xs text-velo-green font-semibold cursor-pointer"
  >
    Wszystkie kategorie <FaAngleDown />
  </p>
  {
    categories.map((category: any) => (
      <a href={`/listing/${category.slug}`}>
        <p class="h-full flex justify-center items-center text-xs text-gray-400 hover:text-gray-600 transition-all duration-300 ease-in-out font-semibold cursor-pointer">
          {category.name}
        </p>
      </a>
    ))
  }
</div>