---
import SearchInput from "../SearchInput.astro";
// import DesktopCategories from "./DesktopCategories";
import DesktopCategories from "./DesktopCategories.astro";
import MegaMenu from "./MegaMenu.astro";
import NavigationIcons from "./NavigationIcons.astro";
---

<!-- MOBILE NAVIGATION -->
<div id="mobile-navigation" class="block md:hidden">
  <div
    class="w-full flex flex-col justify-center items-center pt-3 bg-white border-b-1"
  >
    <div class="w-full flex justify-evenly items-center">
      <div class="w-full flex justify-start pl-3">
        <a href="/">
          <img
            src="https://velomarket.pl/media/logo/stores/1/velo_logo.png"
            class="max-h-8 cursor-pointer"
            alt="logo"
          />
        </a>
      </div>
      <NavigationIcons />
    </div>
    <div class="flex justify-center py-3 w-3/4">
      <SearchInput />
    </div>
  </div>
</div>

<!-- DESKTOP NAVIGATION -->
<div id="desktop-navigation" class="hidden md:block">
  <div
    class="absulte w-full h-17 flex justify-center items-center bg-white border-b-1 border-b-gray-200"
  >
    <div class="w-full flex justify-evenly items-center">
      <div class="w-full flex justify-start pl-10">
        <a href="/">
          <img
            src="https://velomarket.pl/media/logo/stores/1/velo_logo.png"
            class="max-h-8 cursor-pointer"
            alt="logo"
          />
        </a>
      </div>
      <div class="w-full flex justify-center">
        <SearchInput />
      </div>
      <NavigationIcons />
    </div>
  </div>
  <div>
    <div id="categories-menu" class="h-12 pl-[15%] -mt-1 bg-white">
      <DesktopCategories server:defer>
        <!-- <DesktopCategories client:only> -->
        <div
          role="status"
          class="flex justify-center items-center animate-pulse"
          slot="fallback"
        >
          <div class="h-3 bg-gray-200 rounded-full w-96"></div>
        </div>
      </DesktopCategories>
    </div>
  </div>
</div>

<!-- MEGAMENU -->
<MegaMenu server:defer />

<script>
  const categories: HTMLElement | null =
    document.querySelector("#categories-menu");
  let position = window.scrollY;

  window.addEventListener("scroll", () => {
    if (window.scrollY - position > 60) {
      position = window.scrollY;
      categories!.style.display = "none";
    } else if (position - window.scrollY > 60) {
      categories!.style.display = "block";
      position = window.scrollY;
    }
  });
</script>
