---
import { Picture } from "astro:assets";

const response = await fetch("http://localhost:3000/banners");
const data = await response.json();
const banners = data;
---

<astro-banner-carousel>
  <div class=`swiper swiper-banner w-full`>
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {
        banners.map((slide: any) => (
          <div class="swiper-slide mb-6">
            <Picture
              class={"w-full"}
              src={slide.imageUrl}
              alt="product image"
              format="avif"
              inferSize={true}
            />
            {/* <img src={slide.imageUrl} /> */}
          </div>
        ))
      }
    </div>
    <div class="swiper-pagination !-bottom-1"></div>
    <div
      class="swiper-button swiper-button-prev rounded-full !text-black border border-gray-200 bg-white p-6 shadow-sm"
    >
    </div>
    <div
      class="swiper-button swiper-button-next rounded-full !text-black border border-gray-200 bg-white p-6 shadow-sm"
    >
    </div>
  </div>
</astro-banner-carousel>

<style>
  .swiper-button::after {
    font-size: 24px;
  }
</style>

<script>
  import Swiper from "swiper";
  import { Pagination, Navigation } from "swiper/modules";
  import "swiper/css/bundle";

  class AstroBannerCarousel extends HTMLElement {
    connectedCallback() {
      const swiperConfig = {
        modules: [Pagination, Navigation],
        loop: true,
        slidesPerView: 1,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      };

      const swiper = new Swiper(`.swiper-banner`, swiperConfig);
    }
  }

  customElements.define("astro-banner-carousel", AstroBannerCarousel);
</script>
