---
import { categoryStore } from "../stores/NavigationStore";

const rawCategories = await categoryStore.then();
const categories = rawCategories.slice(0, 7);
---

<div class="w-full flex justify-center gap-8 md:mb-8">
  {
    categories.map((category: any) => (
      <a
        href={`/listing/${category.slug}`}
        class="flex flex-col gap-2 justify-start items-center text-center w-18 "
      >
        <div class="w-18 h-18 bg-gray-300 rounded-full p-2" />
        {category.name}
      </a>
    ))
  }
</div>
