<footer class="flex bg-gray-300 mt-24">
  <div class="w-full flex m-auto max-w-[1440px] flex-col gap-24">
    <p class="w-full flex py-10 justify-center items-center">
      Centrum wsparcia klienta:
      <a href="mailto:kontakt@velomarket.pl">kontakt@velomarket.pl</a>
      lub zadzwoń
      <a href="tel:+48500933143">+48 500 933 143</a> (Infolinia czynna od poniedziałku
      do piątku w godzinach od 9:00 do 17:00)
    </p>
  </div>
</footer>
