---
import SearchInput from "./SearchInput.astro";
import NavigationIcons from "./NavigationIcons"
---

<div class="w-full h-17 flex justify-center items-center bg-white border-b-1">
  <div class="w-full flex justify-evenly items-center">
    <div class="w-full flex justify-start pl-10">
      <a href="/">
        <img
          src="https://velomarket.pl/media/logo/stores/1/velo_logo.png"
          class="max-h-8 cursor-pointer"
          alt="logo"
        />
      </a>
    </div>
    <div class="w-full flex justify-center">
      <SearchInput />
    </div>
    <NavigationIcons client:load>
      <div slot="fallback">Loading...</div>
    </NavigationIcons>  
  </div>
</div>
