<form class="w-full flex items-center" action="/search">
  <input
    type="text"
    id="query"
    name="query"
    class="searchbar w-full md:w-9/10 h-8 md:h-12 bg-gray-100 outline-none focus:placeholder-opacity-0 rounded-2xl text-center"
    placeholder="ðŸ” Wyszukaj w velomarkecie"
    aria-label="wyszukaj text"
    required
  />
  <input type="submit" value="" aria-label="submit btn"/>
</form>
