<form class="w-full flex items-center">
  <input type="text" class="w-full md:w-9/10 h-8 md:h-12 bg-gray-100 border-transparent rounded-2xl text-center" placeholder="&#128269 Wyszukaj w velomarkecie">
</form>