<div
  class="top-0 w-full h-6 md:h-10 flex items-center justify-center bg-velo-green font-normal text-white overflow-hidden md:overflow-auto whitespace-nowrap md:whitespace-normal"
>
  <p
    class="text-xs md:text-sm inline-block md:flex animate-text-slider md:animate-none"
  >
    Darmowa dostawa do punktów Paczkomat Inpost dla wybranych produktów i
    zarejestrowanych klientów
  </p>
</div>
