---
import Navigation from "../components/Navigation.astro";
import NavigationCategories from "../components/NavigationCategories";
import Umbrella from "../components/Umbrella.astro";
import "../styles/global.css";
const { title = "page title" } = Astro.props;

interface Props {
  title?: string;
}

const categoryResponse = await fetch(
  "https://fakestoreapi.com/products/categories"
);
const categories: string[] = await categoryResponse.json();

const subcategoryResponse = await fetch(
  "https://dummyjson.com/products/categories"
);
const subcategories = await subcategoryResponse.json();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>VeloMarket.pl | {title}</title>
    <style>
      html,
      body {
        margin: 0;
        width: 100%;
        height: 2000px;
        background-color: gainsboro;
      }
      nav {
        position: sticky;
        top: 0;
      }
    </style>
  </head>
  <body>
    <Umbrella />
    <nav class="z-50">
      <Navigation />
      <NavigationCategories
        client:only
        categories={categories}
        subcategories={subcategories}
      >
        <!-- <div slot="fallback">
          <div role="status" class="max-w-sm animate-pulse">
            <div
              class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"
            >
            </div>
          </div>.
        </div> -->
        <div slot="fallback">
          <div class="w-full h-12 px-[15%] -mt-1 bg-white">
            <div class="w-full h-full flex">
              <div
                role="status"
                class="w-full flex justify-center items-center animate-pulse"
              >
                <div class="h-5 bg-gray-100 rounded-sm dark:bg-gray-200 w-full">
                </div>
              </div>
            </div>
          </div>
        </div>
      </NavigationCategories>
    </nav>
    <slot />
  </body>
</html>
